nav {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: var(--navHeight);
  box-sizing: border-box;
  background-color: white;
}
nav * {
  max-height: 100%;
}

nav button {
  cursor: pointer;
  width: 10%;
  border: none;
  transition: 0.2s;
  display: block;
  text-align: center;
  background-color: #e056fd;
  outline: none;
  height: var(--navHeight);
  opacity: 0.7;
}

nav button:hover {
  opacity: 1;
}
nav i::before {
  font-size: 20px;
  line-height: var(--navHeight);
  height: var(--navHeight);
  color: #1f1e1c;
}

nav form {
  cursor: pointer;
  width: 20%;
  line-height: var(--navHeight);
  height: var(--navHeight);
  display: block;
}

nav input {
  width: 100%;
  outline: none;
  line-height: var(--navHeight);
  height: var(--navHeight);
  border: 1px solid #e8e8e8;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
  display: block;
  padding: 0 20px;
}

nav h1.description {
  color: #1f1e1c;
  font-weight: normal;
  width: 20%;
  text-align: right;
  font-family: "Raleway", sans-serif;
  line-height: var(--navHeight);
  font-size: 25px;
}
nav h1:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  color: #1f1e1c;
  line-height: var(--navHeight);
  width: 50%;
  font-size: 30px;
  font-weight: 400;
  font-weight: bold;
  padding-left: 20px;
  text-align: left;
}

@media (max-width: 750px) {
  nav h1:nth-child(1) {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
    font-size: 20px;
  }
  nav {
    top: var(--navHeight);
  }
  nav h1.description {
    color: #1f1e1c;
    font-weight: normal;
    width: 40%;
    text-align: center;
    font-family: "Raleway", sans-serif;
    line-height: var(--navHeight);
    font-size: 20px;
  }

  nav button {
    width: 30%;
  }

  nav form {
    width: 40%;
  }

  nav input {
    width: 100%;
  }
}
