main.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #e8e8e8;
}
.content h1 {
  border: 1px solid #e8e8e8;
  width: 100%;
  padding: 20px;
}
.content img {
  width: 20%;
  min-width: 250px;
  margin: 0 10%;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.content h2 {
  border: 1px solid #e8e8e8;
  width: 30%;
  padding: 20px;
  font-size: 20px;
}
