:root {
  --navHeight: 50px;
}

div.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

nav {
  flex-basis: var(--navHeight);
}

main {
  flex-grow: 1;
  display: flex;
  width: 90%;
  margin: 0 auto;
}

main aside {
  flex-basis: 50px;
  border: 1px solid #e8e8e8;
  border-top: none;
  display: flex;
  flex-direction: column;
}

aside a {
  flex-basis: 10%;
  width: 10vh;
  text-align: center;
  font-size: 30px;
  line-height: 10vh;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;
  transition: 0.3s;
  color: #1f1e1c;
}

aside a:hover {
  background-color: #e8e8e8;
}

main section {
  flex-grow: 1;
  border: 1px solid #e8e8e8;
  display: flex;
  flex-direction: column;
}

main section h1 {
  flex-basis: 8%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 8vh;
  border-bottom: 1px solid #e8e8e8;
}
div.content {
  flex-basis: 92%;
}
