:root {
  --navHeight: 50px;
}

div.App {
  display: flex;
  flex-direction: column;
}

nav {
  flex-basis: var(--navHeight);
  height: var(--navHeight);
  min-height: var(--navHeight);
}

main.content {
  width: 90%;
  margin: 0 auto;
  flex-grow: 1;
  min-height: calc(100vh - var(--navHeight));
  padding-top: var(--navHeight);
}

@media (max-width: 800px) {
  :root {
    --navHeight: 100px;
  }
}

@media (max-width: 750px) {
  main.content {
    padding-top: calc(2 * var(--navHeight));
  }
}
